
* {
	margin: 0px; /*by default browsers apply some padding and margin*/
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif ;
  background-image: linear-gradient(to right bottom,rgba(0, 0, 17, 1),rgba(1, 2, 4, 1));
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #777;
	padding: 30px;
  overflow: hidden;
}

.header {
	height: 95vh;
	background-image: linear-gradient(to right bottom,rgba(214, 214, 0, 0.8),rgba(34, 187, 136, 0.8)) ,url(../img/hero.jpg) ;
	background-size: cover;
	background-position: top;
	position: relative;  /*so that we can use absolute positioning in its child elements */

	clip-path: polygon(0 0,100% 0,100% 75vh, 0 100%);
} 
/*
.logo-box{
   position: absolute;
   top: 40px;
   left: 40px;
}

.logo {
	height:35px;
}
*/

.logo-box{
   position: absolute;
   top: 0px;
   left: 14px;
   margin: 20px;
}

.logo {
  margin:0;
  padding: 0;
  height:58px;
  animation: moveInTop 1s ease-out; 
}

.text-box{       /* contains two headings and a button*/
	position:absolute;
	top:40%;
	left: 50%; /* 50% of the width of the parent element(which has its position set to 'relative' ) */
	transform: translate(-50%,-50%);  /* wrt to this element(.text-box) */
	text-align: center;
}

.heading-primary{
	color:#fff;
	text-transform: uppercase;
	backface-visibility: hidden;   /*to avoid that little hiccup on the top*/
	margin-bottom: 60px;
}

.heading-primary-main{
      display:block;
      font-size: 60px;
      font-weight: 400;
      letter-spacing: 35px;

      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
} 

.heading-primary-sub{
      display:block;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 17.4px;

      animation: moveInRight 1s ease-out;   /*short hand notation, 4th argument is 'delay' */
}

@keyframes moveInLeft {
   0%{
   	opacity:0; 
   	transform: translateX(-100px);  /* start from the left */
   }

   80%{
   	transform: translateX(10px);  /*we want the animation to fist go on the right side*/
   }

   100%{
   	opacity:1;
   	transform: translate(0);

   }
}

@keyframes moveInRight {
   0%{
   	opacity:0;
   	transform: translateX(100px);  /* start from the left */
   }

   80%{
   	transform: translateX(-10px);  /*we want the animation to fist go on the left side*/

   }

   100%{
   	opacity:1;
   	transform: translate(0);

   }
}

@keyframes moveInBottom{
   0%{
   	opacity:0;
   	transform: translateY(30px);
   }

   100%{
   	opacity:1;
   	transform: translate(0);

   }
}


@keyframes moveInTop{
   0%{
    opacity:0;
    transform: translateY(-30px);
   }110%

   100%{
    opacity:1;
    transform: translate(0);

   }
}

.btn:link, .btn:visited {
     text-transform: uppercase;
     text-decoration: none;
     padding: 15px 40px ;
     display:inline-block;
     border-radius: 100px;
     transition: all 0.2s;
     position: relative;
}

.btn:hover{
	transform: translateY(-3px);
	box-shadow:0 10px 20px rgba(0,0,0,.2);
}

.btn:active{
	transform: translateY(-1px);  /*in relation to the initial state(not hover state)*/
	box-shadow:0 5px 10px rgba(0,0,0,.2);
}

.btn-white {
	background-color: #fff;
	color:#777;
}

.btn::after{
	content:"";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 100px;
	position: absolute;
	top: 0;  /* we want its reference to be .btn so we add position: relative; to .btn*/
	left: 0;
	z-index: -1; 
	transition: all .4s;
}

.btn-white::after{
	background-color: white;
}

.btn:hover::after {  /* 'after' pseudo element only when we have the button in the hover state */
	transform: scaleX(1.4) scaleY(1.6); /*increase the size of the  element*/
	opacity: 0;   /*to fade out*/
}

.btn-animated{
	animation: moveInBottom .5s ease-out .75s;
	animation-fill-mode: backwards;
}